<div class="mt-4">
  <h3>Sua khóa học</h3>
  <form method="POST" action="/courses/{{course._id}}?_method=PUT">
    <div class="mb-3">
      <label for="name">Name</label>
      <input 
        type="text" 
        class="form-control" 
        id="name"
        value="{{course.name}}"
        name="name" />
    </div>
    <div class="mb-3">
      <label for="description">Description</label>
      <textarea
        type="text"
        class="form-control"
        id="description"
        name="description"
      />{{course.description}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Luu lai</button>
  </form>
</div>