<div class="mt-4">
    <div class="gird text-center">
        <div class="g-col-6">
            <h4>{{course.name}}</h4>
        </div>
         <div class="g-col-6">
            {{course.description}}
        </div>
    </div>
</div>