<nav class="navbar navbar-expand-lg bg-dark">
<div class="container">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">F8 Courses</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="dropdown" >
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Hoang Thi
          </a>
  
          <ul class="dropdown-menu">
            <li><a class="dropdown-item"href="/courses/create">Tạo khóa học</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/me/stored/courses">khóa học của tôi</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
          </ul>
  </div>
        </ul>
    </div>
</div>
</nav>