<div class="mt-4">
   <form class="row g-3" method="POST" action="">
  <div class="col-auto">
    <input type="text" class="form-control" id="inputPassword2" placeholder="Tìm kiếm" name="q">
  </div>
  <div class="col-auto">
    <select name="gender" id="gender-input" class="form-control">
        <option value="">-- Chọn Giới Tính --</option>
        <option value="male">Nam</option>
        <option value="female">Nữ</option>
    </select>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Tìm Kiếm</button>
  </div>
</form>

</form>
</div>